__pycache__
data_raw/*
data/data_raw/TinyStories_all_data.tar.gz
data/data_raw/train_data.txt
data/data_raw/.gitkeep
data/data_shards/*
waste
.ipynb_checkpoints
models/alilama_58M.pth
models/alilama_58M.pth_loss.txt
models/alilama_15M.pth
models/alilama_15M.pth_loss.txt